
\.lvimrc

\.main\.tex\.swp

Header/Header_Philipp\.tex~

jun_biblatex\.bib

main-blx\.bib

main\.aux

main\.bbl

main\.tex~

main\.synctex\.gz

main\.dvi

main\.latexmain

main\.log

main\.out

main\.run\.xml

*.log

main\.pdf

long_main-blx\.bib

long_main\.aux

long_main\.bbl

long_main\.blg

long_main\.pdf

main\.blg
